.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: monospace !important ;
  background-color: rgb(245, 244, 244) !important;
}

.whitesmoke{
  color: whitesmoke;
  text-shadow: #000 0px 0px 1px;
}

.video-page{
  width: 50rem !important;
}

@media only screen and (max-width: 800px) {
  .carousel-button {
    display: none !important;
  }
  .video-page{
    width: auto !important;
  }
}

html{
  scroll-behavior: smooth !important;
}

.indent{
  text-indent: 2rem;
}

.carousel-caption{
  position: relative !important;
  display: none !important;
}